<!doctype html>
<html lang="en">

<head>
<title>{% block title %}wotmad{% endblock %}</title>
<link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic|Ubuntu:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link type="text/less" rel="stylesheet/less" href="{{ url_for('static', filename='less/style.less') }}">
<style type="text/less" rel="stylesheet/less">
header.jumbotron {
  text-align: center;
  h1 {
    font-size: 96px;
    line-height: 96px;
  }

  ul.nav {
    li {
      display: inline-block;
    }
  }
}
</style>
{% block stylesheets %}{% endblock %}
<script src="{{ url_for('static', filename='lib/less-1.3.0.min.js') }}"></script>

</head>

{% block outer %}
<div class="container">
  {% block userinfo %}
    <div class="span12">
      {% if g.user %}
        <a class="pull-right" href="{{ url_for('users.logout') }}">{{ g.user }}</a>
      {% else %}
        <a id="browserid" class="pull-right" href="#">login / register</a>
        <form method="POST" action="{{ url_for('users.login') }}">
          {{ form.hidden_tag() }}
        </form>
      {% endif %}
    </div>
  {% endblock %}
  <header class="jumbotron">
    <h1>wotmad</h1>
    {% block mainnav %}
      <ul class="nav">
        {#
        <li><a href="{% url list-logs %}">art of war</a></li>
        <li class="sep">|</li>
        <li><a href="{% url scripts:list %}">scripts</a></li>
        <li class="sep">|</li>
        <li>stats</li>
        <li class="sep">|</li>
        <li>misc</li>
        <li class="sep">|</li>
        <li>?</li>
        #}
      </ul>
    {% endblock %}
  </header>

  {% block messages %}
    {% for category, message in get_flashed_messages(True) %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endblock %}

  {% block content %}{% endblock %}

  <footer class="footer">
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>
      Features and Issues <a
        href="https://trello.com/board/wotmad/4f723dc355adc061384f2976">on Trello</a>;
      Source code on <a href="https://github.com/avidal/wotmad/">Github</a>.
    </p>
  </footer>
</div>
{% endblock %}

<script src="https://browserid.org/include.js"></script>
<script src="//code.jquery.com/jquery.min.js"></script>
<script src="{{ url_for('static', filename="bootstrap/js/bootstrap.min.js") }}"></script>
<script>
$(document).ready(function() {
  $('#browserid').bind('click', function(e) {
    e.preventDefault();
    navigator.id.getVerifiedEmail(function(assertion) {
        if (assertion) {
          var $e = $('#assertion');
          $e.val(assertion.toString());
          $e.closest('form').submit();
        }
    });
  });
});
</script>
{% block javascript %}{% endblock %}

</html>
